/* Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin : 0;
  padding : 0;
  box-sizing: border-box ;
  list-style: none;
  text-decoration: none;
  scroll-padding-top : 2rem;
  scroll-behavior: smooth;
  }
  /* some variables */
:root {
  --green-color: #BAD8B6  ;
  --E1EACD-color: #E1EACD ;
  --F9F6E6-color: #F9F6E6 ;
  --purple-color: #8D77AB ;
  --text-color: #ffffff ;
  --bg-color: #8D77AB;
}

*{
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin : 0px;
  padding : 0px;
  font-family : 'Montserrat', sans-serif;
}

.wrapper{
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a{
  font-size: 30px;
  font-weight: bold;
  float: left;
  font-family: 'Montserrat';
  color: #F9F6E6;
  line-height: 90px;
}

.menu {
  float: right;
}

nav{
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 90px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #8D77AB;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color : #F9F6E6;
  font-family: 'Montserrat';
  font-weight: medium;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

.persegigelap {
  position: absolute;
  margin-top: -62px;
  width: 100%;
  height: 100%;
  border-radius: 20px; 
  background-color: #E1EACD;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.persegiterang{
  position: absolute;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  border-radius: 20px; 
  background-color: #F9F6E6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8)
}

.benang {
  position: absolute;
  z-index: 100;
  top: -230px;
  width: 850px;
  height: 750px;
  left: 50%;
  top: 198px;
  transform: translate(-50%, -50%);
  justify-content: center; /* horizontal tengah */
  align-items: center;
}

.risol {
  position: absolute;
  z-index: 100;
  top: 150px; 
  left: -250px; 
  width: 350px;
  height: 146px;
  transform: rotate(-33.18deg);
}

.risol1 {
  position: absolute;
  z-index: 100;
  top: 400px; 
  left: -80px; 
  width: 350px;
  height: 140px;
  transform: rotate(43deg);
}

.risol2 {
  position: absolute;
  z-index: 100;
  top: 100px; 
  right: -78px; 
  width: 350px;
  height: 146px;
  transform: rotate(25deg);
}

.risol3 {
  position: absolute;
  z-index: 100;
  top: 400px; 
  right: -210px; 
  width: 350px;
  height: 146px;
  transform: rotate(-28deg);
}

.explore-btn {
  position: absolute;
  background-color: #8a6cb0;   
  color: white;              
  padding: 12px 24px;          
  font-size: 20px;             
  font-weight: Bold;           
  border: none;                
  border-radius: 10px;       
  cursor: pointer;             
  text-decoration: none;       
  display: inline-block;       
  transition: background 0.3s ease, transform 0.2s ease;
  z-index: 100;
  left: 50%;
  top: 370px;
  transform: translate(-50%, -50%);
}


.explore-btn:hover {
  background-color: #6f5294; 
  transform: translate(-50%, -50%) scale(0.8);
}

section{
  z-index: 100;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  position: absolute;                  
  z-index: 200;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #8D77AB;
}

.kolom .deskripsi {
  font-size: 30px;
  font-weight: 550;
  margin-bottom: 10px;
  position: relative;
  top: 30px;
  left: 180px;
}

.kolom h2 {
  font-size: 100px;
  font-weight: 800;
  margin: 10px 0;
  left: 800px;
}

.kolom p {
  font-size: 20px;
  font-weight: 550;
  margin-top: 0;
  position: relative;
  top: -15px;

}

